.svg {
    margin-left: -30px;
  }
  
  .tv-svg {
    margin-left: -32px;
    margin-bottom: 13px;
  }
  
  .section__inside-section {
    text-align: center;
  }
  
  .name__person-bradley {
    width: 136.024px;
    color: #333;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14.011px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 81px;
  }
  
  .info__person-bradley {
    width: 224.024px;
    color: #666;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14.011px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 37px;
    margin-top: 13px;
  }
  
  
  .name__person-lucas{
      width: 125.024px;
      color: #333;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 14.011px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 81px;
  }
  
  .info__person-lucas{
      width: 247.024px;
      color: #666;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 14.011px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-left: 37px;
      margin-top: 13px;
  }
  
  .name__person-heather{
      width: Fixed (139.02px)px;
  height: Fixed (17px)px;
  top: 137px;
  left: 36.99px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14.01px;
  font-weight: 700;
  line-height: 17.07px;
  text-align: center;
  color: #333333;
  }
  
  .info__person-heather{
      font-family: "Roboto", sans-serif;
  font-size: 14.01px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: center;
  width: Fixed (241.02px)px;
  height: Fixed (49px)px;
  top: 155px;
  left: -15.01px;
  gap: 0px;
  opacity: 0px;
  }