.see__others{
    width: Fixed (280px)px;
    height: Fixed (40px)px;
    top: 2px;
    left: 2px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #FF4E50;
    background: none;
    border-radius: 25px;
    margin-left: 30px;
}

.text-footer-button{
    width: Fixed (162px)px;
height: Fixed (17px)px;
top: 13px;
left: 61px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 17.07px;
text-align: center;
color: #FF4E50;
padding-left: 55px;
padding-right: 55px;
}